@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* max-width: 100vw;
    width: 100vw; */
    overflow-x: hidden;
    --scroll-behavior: smooth;
}

.underline-btn {
    position: relative;
    text-decoration: none;
    @apply font-epl text-sm sm:text-sm  lg:text-3xl  font-extrabold flex flex-row justify-between items-center;
}

.underline-btn:hover {
    color: #000;
    @apply dark:text-darkText;
}

.underline-btn::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    @apply dark:bg-darkText;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.underline-btn:hover::before {
    transform: scaleX(1);
}

body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
    display: none;
}

.grow {
    transition: all 0.2s ease-in-out;
}
.grow:hover {
    transform: scale(1.02);
}
